# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.csv
# Database file
jobs.db
*.log
# Telegram session file
*.session
venv/ 
monitor.log
telegram_monitor.session
telegram_monitor.session-journal
data/*.csv 
LICENSE
*.gitignore
monitor.log
render.exe
google script.txt