[Unit]
    Description=Job Dashboard Web Server
    After=network.target
    
    [Service]
    User=ubuntu
    Group=www-data
    WorkingDirectory=/home/ubuntu/telegram-automate
    ExecStart=/home/ubuntu/telegram-automate/venv/bin/gunicorn --workers 3 --bind unix:job-dashboard.sock -m 007 wsgi:app
    Restart=always
    
    [Install]
    WantedBy=multi-user.target
    