[Unit]
    Description=Telegram Job Bot
    After=network.target
    
    [Service]
    User=ubuntu
    WorkingDirectory=/home/ubuntu/telegram-automate
    ExecStart=/home/ubuntu/telegram-automate/venv/bin/python main.py
    Restart=always
    
    [Install]
    WantedBy=multi-user.target
    